.users__cards {
	display: flex;
	align-items: center;
	gap: 16px;
	flex-wrap: wrap;
}

.skeleton__item {
	flex: 0 1 32%;
	width: 32%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-bottom: -120px;
}